* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../images/bg-top.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
}

.align-center {
    margin: 0 auto;
}

.login-form .input-group {
    font-size: 0.8em;
    padding: 3px;
    margin: 0;
    width: 100%;
}


